.tea-image {
  width: 30%; }

.tea-info {
  width: 70%; }

.sort-price {
  float: right;
  margin-left: 15px; }

.addToCart {
  float: right; }
  .addToCart input {
    width: 6rem; }

.cartLink {
  float: right;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px; }
  .cartLink:hover {
    background-color: #cc0000;
    color: white; }
