<p class="search-area">
  <span class="search-bar">Search by category:</span>
  <select ng-model="searchCategory" name="category">
    <option value="">Show All</option>
    <option value="dark">dark</option>
    <option value="cold">cold</option>
    <option value="awesome">awesome</option>
    <option value="dry">dry</option>
    <option value="hot">hot</option>
    <option value="summer">summer</option>
    <option value="lucid">lucid</option>
    <option value="warm">warm</option>
    <option value="spring">spring</option>
    <option value="winter">winter</option>
  </select>
  <span class="search-bar">Search by name:</span>
  <input ng-model="searchName" name="name">
</p>