<p>
  <span class="search-bar">Search by category:</span>
  <select ng-model="searchCategory" name="category">
    <option value="">Show All</option>
    <option value="dark">dark</option>
    <option value="cold">cold</option>
    <option value="awesome">awesome</option>
    <option value="dry">dry</option>
    <option value="hot">hot</option>
    <option value="summer">summer</option>
    <option value="lucid">lucid</option>
    <option value="warm">warm</option>
    <option value="spring">spring</option>
    <option value="winter">winter</option>
  </select>
  <span class="search-bar">Search by name:</span>
  <input ng-model="searchName" name="name">
</p>
<table class="u-full-width">
  <tr>
    <th>Tea</th>
    <th>Information
    <select class="sort-price" ng-model="sortPrice" id="sort-price">
      <option value="price">Least Expensive</option>
      <option value="-price">Most Expensive</option>
    </select>
    <label class="sort-price" for="sort-price">Sort By Price: </label>
    </th>
  </tr>
  <tbody>
    <tr ng-repeat="tea in getTeas | orderBy:sortPrice | filter:searchName | filter:searchCategory">
      <td class="tea-image"><img ng-src="{{ tea.imageUrl }}"></td>
      <td class="tea-info">
      <h2>{{ tea.name }}</h2>
      <p><strong>Price: </strong>{{ tea.price | currency }}</p>
      <p><strong>Caffeine Scale: </strong>{{ tea.caffeineScale }}</p>
      <p><strong>Ingredients: </strong>{{ tea.ingredients }}</p>
      <p><strong>Rating: </strong>{{ tea.rating }}</p>
      <p ng-show="{{tea.inStock}}"><strong>In Stock? </strong>Yes</p>
      <p ng-show="{{!tea.inStock}}"><strong>In Stock? </strong>No</p>
      <p><strong>Categories: </strong>
        <ul>
          <li ng-repeat="category in tea.categories">{{ category }}</li>
        </ul>
      </p>
      </td>
    </tr>
  </tbody>

</table>