.tea-image {
  width: 30%;
}
.search-area {
  padding-left: 25px;
}
.tea-info {
  width: 70%;
}
.sort-price {
  float: right;
  margin-left: 15px;
}
.addToCart {
  float: right;

  input {
    width: 6rem;
  }
}
.cartLink {
  float: right;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;

  &:hover {
    background-color: darken(red, 10%);
    color: white;
  }
}