.tea-image {
  width: 30%; }

.search-area {
  padding-left: 25px; }

.tea-info {
  width: 70%; }

.sort-price {
  float: right;
  margin-left: 15px; }

.addToCart {
  float: right; }
  .addToCart input {
    width: 6rem; }

.cartLink {
  float: right;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px; }
  .cartLink:hover {
    background-color: #cc0000;
    color: white; }

header {
  text-align: center;
  margin-bottom: 10vh; }
  header nav {
    background: white;
    height: 5rem; }
  header a {
    padding: 20px;
    font-size: 2.5rem;
    color: #8b8878;
    text-decoration: none; }
    header a:hover {
      color: #545349; }
  header .welcome {
    font-family: 'White Rabbit';
    color: black;
    font-size: 9rem; }
  header .descrip {
    color: black;
    font-weight: bold;
    font-size: 3rem; }
  header .hero {
    background-image: url("http://1.bp.blogspot.com/-kY7ZY0Ui0Rs/ULaXsj4UigI/AAAAAAAAAOs/dfC6oVWQJGU/s1600/Tiesta's+teas+loose.png");
    background-size: cover;
    height: 50vh;
    color: white;
    display: flex; }
    header .hero .hero-intro {
      margin: auto; }

.founder {
  width: 70%;
  border-radius: 50%;
  margin-left: 15%; }

iframe {
  width: 100%;
  margin-bottom: 30px; }

body {
  background: #eee8dc; }
