.tea-image {
  width: 30%; }

.tea-info {
  width: 70%; }

.sort-price {
  float: right;
  margin-left: 15px; }

.addToCart {
  float: right; }
  .addToCart input {
    width: 6rem; }

.cartLink {
  float: right;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px; }
  .cartLink:hover {
    background-color: #cc0000;
    color: white; }

header {
  text-align: center;
  margin-bottom: 10vh; }
  header a {
    padding: 5px; }
  header .hero {
    background-image: url("https://images.unsplash.com/photo-1459347003562-525a24ac80a6?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1100");
    background-size: cover;
    height: 50vh;
    color: white;
    display: flex; }
    header .hero .hero-intro {
      margin: auto; }
  header nav {
    border: 1px solid #d3d3d3; }
